html{
  background-color: #edcff1;
    
}
body {
  font-family: font-family: 'Poppins', sans-serif;
  margin: 2em;
 
    
}

h1 {
  font-style: italic;
  color: #91599a;
  font-family: 'Poppins', sans-serif
  font-size: 800%;
  margin: 0em;
  text-align: center
}

h2{
  font-style: italic;
  color: #a275a9;
  font-family: 'Poppins', sans-serif
  font-size: 600%;
  text-align: center
  border: 2px #a275a9;
  border-radius: 5px;
}
p {
  color: #91599a;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

img {
  height: 40%;
  width: 40%;
}