/* CSS files add styling rules to your content */
/* CSS files add styling rules to your content */

html {
}

body {
  font-family: "Poppins", sans-serif;
  margin: 2em;
}

h1 {
  color: #a2d072;
  font-family: "Big Shoulders Display", cursive;
  font-size: 600%;
  margin: 0em;

}

h2 {
  color: #d07273;
  font-family: "Big Shoulders Display", cursive;
  font-size: 200%;

  border-radius: 5px;
}
h3 {
  font-style: italic;
  color: #a275a9;
  font-family: "Poppins", sans-serif;
  font-size: 600%;

  border: 2px #a275a9;
  border-radius: 5px;
}
p {
  color: #91599a;
  font-family: "Tenali Ramakrishna", sans-serif;
}

a {
  border: 2px
}

img {
}

.logo {
  height: 20%;
  width: 20%;
  cursor:pointer;
}

.logo-alternative {
  height: 10%;
  width: 10%;
  padding: 0 10px;
  float: left;

}

.topnav {
  position: relative;
  overflow: hidden;
  /*background-color: #2c949c;*/
  text-color: #9f72d0;
  font-family: "Big Shoulders Display", cursive;
  padding: 0 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  margin: 3vw;
  text-decoration: none;
  font-size: 250%;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;

}

.home{
  color: #72d0ce;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9f72d0;
  color: black;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
#nav {
  display: table; /* centers modern browsers */
  margin: 0 auto; /* centers modern browsers */
  text-align: center; /* centers IE6/7 */
}

#nav a {
  float: left;
  text-decoration: none;

   /* variable width */
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
a.class1 {
  color: #250081;
}
a.class1:link {
  text-decoration: none;
  color: #9f72d0;
}
a.class1:visited {
  text-decoration: none;
  color: #9f72d0;
}
a.class1:hover {
  text-decoration: none;
  cursor:pointer;
  color: #72d0ce;

}
a.class1:active {
  text-decoration: none;
  color: #9f72d0;
}

a.class2 {
  background-color: #9f72d0;
  border-radius: 10px;
  padding:5px
}
a.class2:link {
  text-decoration: none;
  color: #72d0ce;
}
a.class2:visited {
  text-decoration: none;
  color: #72d0ce;
}
a.class2:hover {
  text-decoration: none;
  color: #72d0ce;

}
a.class2:active {
  text-decoration: none;
  color: #72d0ce;
}

.main-content{

}

.home{

}
/* #navbar {
  overflow: hidden;
  background-color: rgba(145, 89, 154, 0.5);
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;

  z-index: 99;

}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: rgba(145, 89, 154, 0.3);
  color: black;
}

#navbar a.active {
  background-color: rgba(145, 89, 154, 0.5);
  color: white;
}

#navbar-right {
  float: center;
}
#navbar-left {
  float: left;
}



@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: center;
  }
  #navbar-right {
    float: none;
  }


  img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
   */


/*  w3 schools*/
/* Adobe color */
